.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--cursor-color);
    border-radius: 50%;
    position: absolute;

    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    pointer-events: none;
    z-index: 200;
}

::-webkit-scrollbar {
    width: 5px;
    position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(132, 255, 198, 0.719);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {

    .nav-shadow {
        box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.295);

    }

    nav {
        height: 80px;
        padding: 20px;
        position: sticky;
        top: 0;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--bg);
        animation: fade 200ms forwards ease;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                margin-left: 20px;
                padding: 15px 20px;
                transition: background 200ms ease;

                &:hover {
                    background: var(--accent-color);

                    .cursor {
                        transform: scale(1.5);
                    }
                }
            }
        }

        #header-logo {
            width: 50px;
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;

        }

        100% {
            opacity: 1;

        }
    }

    @keyframes fade-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .landing-content {
        display: flex;
        align-items: center;
        position: relative;
        height: fit-content;
        position: relative;

        img {
            width: 60%;
            margin-left: auto;
            animation: fadein-img 300ms forwards ease;
        }

        .landing-message {
            padding: 20px;
            padding-bottom: 100px;
            animation: fade-left 200ms forwards ease;

            h1 {
                font-size: 3rem;
            }
        }
    }

    @keyframes fadein-img {
        0% {
            opacity: 0;
            transform: translateX(40px);

        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @media (max-width: 600px) {
        .landing-content {
            display: block;

            img {
                width: 100%;
            }

            .landing-message {
                padding: 20px;
            }
        }
    }
}