.events h1 {
  line-height: 2rem;
}

.events > h1 {
  padding: 20px;
  padding-bottom: 0;
}

.events .nav {
  margin-left: 18px;
  -webkit-animation: fade-from-right 800ms forwards ease;
          animation: fade-from-right 800ms forwards ease;
}

.events .main-event {
  position: relative;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.95)), color-stop(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
}

.events .main-event .about {
  padding: 30px;
  width: 60%;
  -webkit-animation: slidein 500ms forwards ease;
          animation: slidein 500ms forwards ease;
}

.events .main-event .about h2 {
  padding-bottom: 0;
}

.events .main-event .about h3 {
  -webkit-filter: contrast(0.1);
          filter: contrast(0.1);
  margin-bottom: 6px;
}

.events .main-event .about .date-time {
  font-size: .8rem;
  font-weight: 600;
}

.events .main-event .about .register-btn {
  display: block;
  padding: 10px 20px;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  background: var(--accent-color);
  cursor: pointer;
}

.events .main-event .event-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.events .main-event .event-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-img {
  -webkit-animation: fadein 1s forwards ease;
          animation: fadein 1s forwards ease;
}

.all-events {
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 30px;
  padding: 30px;
}

.all-events .event {
  height: 220px;
  overflow-y: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: border 100ms ease, -webkit-transform 100ms ease;
  transition: border 100ms ease, -webkit-transform 100ms ease;
  transition: transform 100ms ease, border 100ms ease;
  transition: transform 100ms ease, border 100ms ease, -webkit-transform 100ms ease;
  -webkit-animation: slidein 500ms forwards ease;
          animation: slidein 500ms forwards ease;
  /*  &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: linear-gradient(to top, var(--light-bg), rgba(0, 0, 0, 0));
            z-index: 10;
        } */
}

.all-events .event .about {
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.856);
  -webkit-transition: background 200ms ease;
  transition: background 200ms ease;
}

.all-events .event .about p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.all-events .event:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 100;
}

.all-events .event:hover .about {
  background: rgba(5, 5, 5, 0.767);
  color: rgba(255, 255, 255, 0.89);
}

.all-events .event .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
  -webkit-animation: fadein 1s forwards ease;
          animation: fadein 1s forwards ease;
}

.all-events .event .bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-view {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.95)), color-stop(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
}

.event-view .back-btn {
  margin-left: 15px;
}

.event-view .about {
  padding: 30px;
  width: 60%;
  -webkit-animation: slidein 500ms forwards ease;
          animation: slidein 500ms forwards ease;
}

.event-view .about h2 {
  padding-bottom: 0;
}

.event-view .about .date-time {
  font-size: .8rem;
  font-weight: 600;
}

.event-view .about .register-btn {
  display: block;
  padding: 10px 20px;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  background: var(--accent-color);
  cursor: pointer;
}

.event-view .event-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  -webkit-animation: fadein 1s forwards ease;
          animation: fadein 1s forwards ease;
}

.event-view .event-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .events .main-event {
    background: rgba(255, 255, 255, 0.8);
  }
  .events .main-event .about {
    padding: 30px;
    width: 100%;
  }
  .event-view {
    background: rgba(255, 255, 255, 0.8);
  }
  .event-view .about {
    padding: 30px;
    width: 100%;
  }
  .all-events {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=Events.css.map */