.activity-box {
    header {
        margin-bottom: 10px;
    }

    padding: 10px;
    margin: 10px;
    border: 1px solid var(--accent-color);

    .activity-content {
        // default activity content styles
    }
}


// custom activity styles go below
.topics {

    .topic{
        
    }

}