.home {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto 200px;
}

.nav {
    img {
        width: 100%;
    }

    header {
        padding: 20px;

        img {
            width: 80px;
        }
    }

    overflow: hidden;
    border-right: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;

    .profile-preview {
        width: fit-content;
        padding: 10px;
        margin-top: auto;
        height: fit-content;
        width: 100%;

        display: flex;
        align-items: center;
        border-top: 1px solid whitesmoke;

        cursor: pointer;

        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        img {
            display: block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
}


.nav-links {

    img {
        width: 20px;
        margin-right: 10px;
    }

    a {
        width: 100%;
        height: 100%;
        padding: 10px;
        color: var(--text-color);
        display: flex;
        align-items: center;

    }

    .nav-link {
        margin: 10px;
        cursor: pointer;
        transition: transform 200ms ease, background 200ms ease, font-weight 100ms ease;

        &:hover {
            transform: scale(1.06);
            font-weight: 600;
            // border: 1px solid whitesmoke;
        }

    }


    .selected-nav-link {
        background: var(--accent-color);
        font-weight: 600;
    }
}

.feed {

    header {
        width: 100%;
        height: 50px;
        padding: 20px;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        border-bottom: 2px solid whitesmoke;
    }

}

.create-post {

    padding: 20px;
    border-bottom: 2px solid whitesmoke;

    form {
        display: flex;
        align-items: center;
        width: 100%;
    }

    form>img {
        margin-bottom: auto;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 10px;
    }

    .compose {
        width: 100%;

        textarea {
            height: 100%;
            width: 100%;
            padding-top: 0.5rem;
            outline: none;
            border: none;
            resize: none;
            font-size: 1.2rem;
            color: var(--text-color);
        }

    }

    button {
        margin-left: auto;
        width: 100%;
        background: white;
        padding: 8px 10px;
        font-weight: 600;
        border: 2px solid var(--accent-color);
        transition: all 1s ease;
        animation: fadefrombottom 100ms forwards ease;
    }

    .disabled-post {
        filter: grayscale(.6) blur(1px);
        cursor: not-allowed;
    }

}

.activity {
    border-left: 2px solid whitesmoke;
}