.home {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto 200px;
}

.nav {
    img {
        width: 100%;
    }

    header {
        padding: 20px;

        img {
            width: 80px;
        }
    }

    overflow: hidden;
    border-right: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;

    .profile-preview {
        width: fit-content;
        padding: 10px;
        margin-top: auto;
        height: fit-content;
        width: 100%;

        display: flex;
        align-items: center;
        border-top: 1px solid whitesmoke;

        cursor: pointer;

        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        img {
            display: block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
}


.nav-links {

    img {
        width: 20px;
        margin-right: 10px;
    }

    a {
        width: 100%;
        height: 100%;
        padding: 10px;
        color: var(--text-color);
        display: flex;
        align-items: center;

    }

    .nav-link {
        margin: 10px;
        cursor: pointer;
        transition: transform 200ms ease, background 200ms ease, font-weight 100ms ease;

        &:hover {
            transform: scale(1.06);
            font-weight: 600;
            // border: 1px solid whitesmoke;
        }

    }


    .selected-nav-link {
        background: var(--accent-color);
        font-weight: 600;
    }
}

.feed {

    header {
        width: 100%;
        height: 50px;
        padding: 20px;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        border-bottom: 2px solid whitesmoke;
    }

    .posts {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .no-posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter: contrast(.05);

        img {
            width: 35px;
            height: 30px;
            margin-bottom: 8px;
        }
    }
}

.create-post {

    padding: 20px;
    border-bottom: 2px solid whitesmoke;

    form {
        display: flex;
        align-items: center;
        width: 100%;
    }

    form>img {
        margin-bottom: auto;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 10px;
    }

    .compose {
        width: 100%;

        textarea {
            height: 100%;
            width: 100%;
            padding-top: 0.5rem;
            outline: none;
            border: none;
            resize: none;
            font-size: 1.2rem;
            color: var(--text-color);
        }

    }

    button {
        margin-left: auto;
        width: auto;
        background: white;
        padding: 8px 20px;
        font-weight: 600;
        border: 2px solid var(--accent-color);
        transition: all 1s ease;
        animation: fadefrombottom 100ms forwards ease;
    }

    @media only screen and (max-width: 600px) {
        button {
            width: 100%;
        }
    }

    .disabled-post {
        filter: grayscale(.6) blur(1px);
        cursor: not-allowed;
    }

}

.notifications {
    grid-column: 2/4;
    overflow-y: scroll;

    header {
        padding: 20px;
        background: white;
        border-bottom: 1px solid whitesmoke;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .notification-list {
        padding: 65px 0;
    }

    .notification {
        padding: 12px 18px;
        margin: 10px;
        // border: 1px solid var(--accent-color);
        background: var(--accent-color);
        max-width: 400px;

        h4 {

            font-size: 1.6rem;
        }
    }

}

.activity {
    border-left: 2px solid whitesmoke;

    .search {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 8px;
    }

    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 1rem;
        // border: 1.5px solid var(--accent-color);
        background: rgb(204, 255, 231);
        border-radius: 1px;

        &::placeholder {
            color: rgba(0, 0, 0, 0.685);
        }
    }
}

.profile {
    grid-column: 2/4;

    header {
        width: 100%;
        padding: 20px;
        display: flex;
        border-bottom: 2px solid whitesmoke;

        .profile-img {
            width: 100px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        .about {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        a {
            color: var(--accent-color);
            filter: brightness(.8);
            text-decoration: underline;
        }
    }
}



@media only screen and (max-width: 700px) {
    .home {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 200px 1fr;

    }

    .feed {
        width: 100%;
    }

    .activity {
        display: none;
    }
}

@media only screen and (max-width: 510px) {
    .home {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .feed {
        width: 100%;
    }

    .nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
        border-top: 2px solid whitesmoke;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        .profile-preview {
            width: fit-content;
            border: none;

            .about {
                display: none;
            }
        }

        header {
            display: none;
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            width: 100%;

            .nav-link {
                justify-content: center;

            }

            img {
                margin: 0;

            }

            span {
                display: none;
            }
        }
    }

    .activity {
        display: none;
    }

    .notifications {

        header {
            padding: 20px;
            border-bottom: 1px solid whitesmoke;
        }

        .notification {
            padding: 12px 18px;
            margin: 10px;
            // border: 1px solid var(--accent-color);
            background: var(--accent-color);
            width: auto;
            display: block;

            h4 {

                font-size: 1.6rem;
            }
        }
    }
}