.events {
    h1 {
        line-height: 2rem;
    }

    &>h1 {
        padding: 20px;
        padding-bottom: 0;
    }



    .main-event {
        position: relative;
        min-height: 50vh;

        display: flex;
        align-items: center;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));


        .about {
            padding: 30px;
            width: 60%;
            animation: slidein 500ms forwards ease;

            h2 {
                padding-bottom: 0;
            }


            .date-time {

                font-size: .8rem;
                font-weight: 600;
            }

            .register-btn {
                display: block;
                padding: 10px 20px;
                margin-top: 10px;
                width: fit-content;
                font-weight: 600;
                background: var(--accent-color);
                cursor: pointer;
            }
        }

        .event-img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

    }
}

.event-img {
    animation: fadein 1s forwards ease;
}

.all-events {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px;

    .event {
        /* width: 300px; */
        height: 200px;
        overflow-y: hidden;
        position: relative;
        cursor: pointer;
        transition: transform 100ms ease, border 100ms ease;
        animation: slidein 500ms forwards ease;

        .about {
            height: 100%;
            padding: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.856);

            transition: background 200ms ease;
        }

        &:hover {
            transform: scale(1.02);

            //border: 2px solid rgba(0, 0, 0, 0.349);
            //box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.192);
            z-index: 100;

            .about {
                background: rgba(5, 5, 5, 0.767);
                color: rgba(255, 255, 255, 0.89);
            }
        }

        /*  &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: linear-gradient(to top, var(--light-bg), rgba(0, 0, 0, 0));
            z-index: 10;
        } */

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            overflow: hidden;
            animation: fadein 1s forwards ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


    }
}

.event-view {
    position: relative;
    min-height: 100vh;

    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));

    .about {
        padding: 30px;
        width: 60%;
        animation: slidein 500ms forwards ease;

        h2 {
            padding-bottom: 0;
        }


        .date-time {

            font-size: .8rem;
            font-weight: 600;
        }

        .register-btn {
            display: block;
            padding: 10px 20px;
            margin-top: 10px;
            width: fit-content;
            font-weight: 600;
            background: var(--accent-color);
            cursor: pointer;
        }
    }

    .event-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        animation: fadein 1s forwards ease;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

}

@media only screen and (max-width: 700px) {
    .events {

        .main-event {
            background: rgba(255, 255, 255, 0.8);

            .about {
                padding: 24px;
                width: 100%;
            }

        }
    }

    .event-view {
        background: rgba(255, 255, 255, 0.8);

        .about {
            padding: 24px;
            width: 100%;
        }

    }

    .all-events {
        grid-template-columns: 1fr;
    }
}


@keyframes fadein {
    0% {
        opacity: 0;


    }

    100% {
        opacity: 1;

    }
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}